{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

	{% for poll in polls %}
		<div class="row-fluid">
			<div class="span1">
				<h2>{{loop.index}}</h2>
			</div>
			
			<div class="span11">
				<small>{{poll.creation}}</small>
				<small>({{poll.user}})</small>				
				
				<h2>{{poll.topic}}</h2>
				
				<ul class="unstyled">
				{% for vote in poll.votes %}
					<li>
						<span class="span8">{{vote[1]}} ({{vote[2]}})</span>						
						<button class="btn btn-info span1">+1</button>
					</li>
				{% endfor %}
				
					<li>
						<span class="span8"><input /></span>
						<button class="btn btn-success span1">+1</button>
					</li>
				</ul>
			</div>
		</div>		
		
		<hr />
	{% endfor %}
{% endblock %}
