{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<table>
	<thead>
		<tr>
			<th>Topic</th>
			<th>Date</th>
			<th>Author</th>
		</tr>
	</thead>
	
	<tbody>
		{% for poll in polls %}
		<tr>
			<td>{{poll.topic}}</td>
			<td>{{poll.creation}}</td>
			<td>{{poll.user}}</td>			
		</tr>
		
			{% for vote in poll.votes %}
			<tr>
				<td>{{vote[1]}}</td>
				<td>{{vote[2]}}</td>
				<td><button class="btn btn-info">+1</button></td>
			</tr>
			{% endfor %}
			
			<tr>
				<td colspan="3">
					<input class="span2"/>
				</td>
			</tr>				
		{% endfor %}
	</tbody>
</table>
{% endblock %}
